<div id="<%= dom_id exercise %>">
  <p>
    <strong>Name:</strong>
    <%= exercise.name %>
  </p>

  <p>
    <strong>Reps:</strong>
    <%= exercise.reps %>
  </p>

  <p>
    <strong>Workout:</strong>
    <%= exercise.workout_id %>
  </p>

</div>
